body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f0e6;
  color: #3b2f2f;
}

/* NAVBAR */
.navbar {
  background-color: #6b4f2d;
  padding: 15px 20px;
}

.navbar a {
  color: #f5e6c8;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}

/* PAGE */
.page {
  max-width: 1100px;
  margin: auto;
  padding: 40px 20px;
}

.section {
  margin-bottom: 60px;
}

.section h1,
.section h2 {
  color: #6b4f2d;
}

/* TWO COLUMNS */
.two-columns {
  display: flex;
  gap: 40px;
  align-items: center;
}

.image-box img {
  width: 100%;
  max-width: 400px;
  border: 4px solid #c9a44c;
  border-radius: 8px;
}

.text-box {
  flex: 1;
}

/* KINGS */
.king {
  background-color: #e6d3a3;
  padding: 20px;
  margin-bottom: 30px;
  border-left: 6px solid #c9a44c;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .two-columns {
    flex-direction: column;
  }
}

.container {
  display: flex;
}

/* MENU BUTTON */
.menu-btn {
  font-size: 26px;
  color: #f5e6c8;
  cursor: pointer;
  margin-right: 15px;
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  background-color: #6b4f2d;
  padding: 20px;
  min-height: 100vh;
  display: none;
}

.sidebar h3 {
  color: #f5e6c8;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 15px;
}

.sidebar a {
  color: #f5e6c8;
  text-decoration: none;
  font-weight: bold;
}

