body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f0e6; /* beige */
  color: #3b2f2f; /* marron foncé */
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6b4f2d; /* brown */
  padding: 15px 20px;
}

.menu-btn {
  font-size: 26px;
  color: #f5e6c8; /* beige */
  cursor: pointer;
}

.nav-right a {
  color: #f5e6c8;
  text-decoration: none;
  margin-right: 15px;
  font-weight: bold;
}

.nav-right input {
  padding: 5px;
  border-radius: 4px;
  border: none;
}

/* LAYOUT */
.container {
  display: flex;
}

/* SIDEBAR (hidden by default) */
.sidebar {
  width: 220px;
  background-color: #6b4f2d;
  padding: 20px;
  min-height: 100vh;
  display: none; /* IMPORTANT */
}

.sidebar h3 {
  color: #f5e6c8;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 15px;
}

.sidebar a {
  color: #f5e6c8;
  text-decoration: none;
  font-weight: bold;
}

.sidebar a:hover {
  text-decoration: underline;
}

/* CONTENT */
.content {
  padding: 30px;
  flex: 1;
}
